@font-face {
  font-family: segoelight;
  src: url("segoeuil.ttf");
} 

@font-face {
  font-family: segoebold;
  src: url("segoeuiz.ttf");
} 

@font-face {
  font-family: segoesemibold;
  src: url("seguisb.ttf");
} 


@viewport {
  width:device-width;
  zoom: 1.0 ;
}

@-ms-viewport {
  width:500px;
}

@media screen and (max-width:320px) {
}

@media screen and (min-width:320px) and (max-width:640px) {
}

#somethingorother {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
    width: 480px ;

} 

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}



.container {
  display: inline-grid;  
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:  120px 750px 300px 550px 500px 500px 300px;
  background-color: white;
  position: absolute;    
  font-family: 'Bokor';    
}

.navigation {
    grid-area: 1 / 1 / 1 / 5;
    background-color: #0e0727;
    padding: 0px;
}


.logo {
    grid-area; 1/1/1/5;
    margin-top: 0.5vw;
    margin-left: 45vw;
}

.navposition {
    margin-left: 35vw;
    margin-top: 0.5%;
}

.navigation > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 60px;        /* if you want it to take the full height of the bar */
    line-height: 60px;    /* if you want it vertically middle of the navbar */
}

.a {
    color: white;
    text-decoration: none;
    margin-left: 3%;
    font-family: segoelight;
}
 

a:hover {
    color: darkorange;
}

.headerbackground {
    grid-area: 2/1/2/5;
    background: url(images/headercourses.jpg) no-repeat center center;
    background-size: 100%;
    background-attachment: scroll;
    background-color: #0e0727;
    
}

.headertext {
    color: white;
    font-size: 4vw; 
    margin-top: 630px;
    margin-left: 5%;
    display: inherit;
    position: static;
    font-family: segoelight;
    
}


.aboutcompany {
    grid-area: 3/2/3/4;
    background-color: white;
}

.aboutustitle {
    font-size: 30px;
    margin-left: 5%;
    color: #0e0727;
    font-family: segoesemibold;
    text-align: center;
}

.aboutustext {
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    color: #0e0727;
    text-align: center;
}

.employee1 {
    grid-area: 4/1/4/1;
    background-color: white;
    margin-top: 10%;
}

.employee2 {
    grid-area: 4/2/4/2;
    background-color: white;
    margin-top: 10%;
    
}

.employee3 {
    grid-area: 4/3/4/3;
    background-color: white;
    margin-top: 10%;
    
}
.employee4 {
    grid-area: 4/4/4/4;
    background-color: white;
    margin-top: 10%;
    
}

.employeelist {
    margin-left: 15% ;
    cursor: pointer;
}

.employeelist:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.employeerole {
    font-size: 15px;
    font-family: segoelight;
    margin-left: 15%;
    margin-right: 18%;
}

.course1 {
    grid-area: 5/1/5/3;
    background-color: white;

}

.course2 {
    grid-area: 5/3/5/5;
    background-color: white;
}

.course3 {
    grid-area: 6/1/6/3;
    background-color: white;
}

.course4 {
    grid-area: 6/3/6/5;
    background-color: white;
}

.courseimgs {
    width: 100%;
    height: 100%;
}


.logofooter {
    grid-area: 7/1/7/3;
    background-color: #efefef;
}

.logofooter2 {
    margin-top: 13%;
    margin-left: 25%;
}

.footernav {
    grid-area: 7/3/7/4;
    background-color: #efefef;
}

.footertext {
    margin-top: 10%;
    text-decoration: none;
    color: black;
}

footertext:hover {
    color: darkorange;
    cursor: pointer;
}

.socials {
    grid-area: 7/4/7/5;
    background-color: #efefef;
}

.socialsbtn {
  margin-left: 5%;
  background-color: white; 
  border: 2px solid black; 
  color: black;
  padding: 16px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;  
  cursor: pointer;
  margin-top: 5%;
}

socialsbtn:hover {
    border-color: 2px solid darkorange;
}